@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-bright text-on-surface font-sans antialiased selection:bg-primary/20 selection:text-primary transition-colors duration-300;
  }
  
  /* Dark mode overrides */
  .dark body {
    @apply bg-dark-bg text-dark-on-surface;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
